
/* Gallery */

img {
  pointer-events: none;
}

.portrait img {
  width: 200px;
}
.portrait:hover {
  box-shadow: var(--primary-color);
}

.img-div {
  background-color: #AAED96;
  width: 100%;
  height: 500px;
  display: flex;
}
.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}