:root {
  --primary-color: #E8E8E8;
  --secondary-color1: #AAED96;
  --secondary-color2: #C45D7B;
  --base-color0: #000000 ;
  --base-color1: #474747 ;
}
* {
  color: var(--primary-color);
  /* LINKS */
  text-decoration: none;
  /* padding and border are included in the total size */
  box-sizing: border-box;
}
/* TEXT */
h1 {
  font-family: "Chivo Mono", sans-serif;
}
h2 {
  font-family: "Chivo Mono", sans-serif;
}
h3 {
  font-family: "Space Grotesk", sans-serif;
}
p {
  font-family: "Chivo Mono", monospace;
}
mark {
  background-color: rgba(0, 0, 0, 0);
  color: var(--secondary-color2);
  font-style: bold;
}


body{
  background-color: var(--base-color0);
  overflow-x: hidden;
  scrollbar-gutter: auto;
  scrollbar-gutter: stable both-edges;
}

button {
  background-color: var(--base-color0);
  border: double var(--primary-color);
  border-width: 4px;
  border-radius: 3px;
  font: inherit;

  transition-duration: 0.2s;
}
button a :hover {
  /*background-color: var(--base-color1);*/
  box-shadow:
    0px 0px 10px 1px var(--primary-color);
  /* in order: x offset, y offset, blur size, spread size, color */
}


img {
  pointer-events: none;
}

/* GALLERY */

.img-container {
  width: 100%;
  display: flex;
  gap: 10px;
}
.img-container>div {
  background-color: #ea96ed;
  height: 200px;
  width: 100%;
}
.img-container>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 50%; */
}

@media (max-width: 768px) {
  .img-container {
      flex-direction: row;
  }
  .img-container>div {
    background-color: #AAED96;
  }
}

@media (max-width: 425px ) {
  .img-container {
      flex-direction: column;
  }
  .img-container>div {
    background-color: #C45D7B;
  }
}

/* ARTWORK */

.fullSizeImage>img {
  width: 100%;
}

.multiline {
  white-space: pre-wrap;
}
.video-container {
  display: flex;
  justify-content: center;
}
iframe {
  aspect-ratio: 16 / 9;
  max-width: 1080px;
}